#compilation files
CMakeFiles/

#log files and txt files
*.txt
*~


#picture folders
theta_pics
theta_pcds
Bottom
theta_pics2
DownSampled*
Just* 
*.jpg
*.png
*.JPG
*.mpeg
*.MPEG

#Text and object files
*.obj

#Compressed Files
*.gz
*.tar
*.zip

#bash files
*.sh
